:root {
    --max-width: 750px;
    --grade-book-max-width: 850px;
}

/* ------------------------------ 顶栏 ------------------------------ */
#title-bar {
    display: flex;
    align-items: center;

    font-size: 1.5rem;
    height: 5rem;
    white-space: nowrap;

    color: #eee;
    background-color: #333;
}
#title-bar::before,
#title-bar::after {
    content: "";
    height: 2px;
    width: 50%;
    background-color: #aaa;
    overflow: hidden;
    margin: 2rem;
}

/* ------------------------------ 底栏 ------------------------------ */
#bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    font-size: 0.8rem;
    height: 3rem;
    white-space: nowrap;

    color: #eee;
    background-color: #333;
}


/* ------------------------------ 设置 ------------------------------ */
#settings {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.3rem;
    margin: 1rem;
}
.settings-button {
    background-color: #777;
    color: #eee;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;

    display: inline-flex;
    align-items: center;
    user-select: none;
}
.settings-button:hover {
    cursor: pointer;
    opacity: 85%;
}

/* ------------------------------ 导入器 ------------------------------ */
#import-prompt {
    background-color: #ccc;
    padding: 0.5rem 3%;
    width: 90%;
    max-width: var(--max-width);
    margin: 1.5rem auto;    /* margin: auto 实现居中 */
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem white;
}
#import-prompt ul {
    padding: 0 1rem;
    margin: 0;
}
#paste-here {
    background-color: #eee;
    width: 90%;
    height: 18rem;
    margin: 1.5rem auto;        /* margin: auto 实现居中 */
    border-radius: 0.5rem;
    border: 3px solid #ddd;
    padding: 0.5rem;
    overflow: scroll;
    color: #ccc;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
}
#paste-here:empty:before {      /* 实现 placeholder 的一种方式 */
    content: "粘贴到此处";
}


/* ------------------------------ 成绩单 ------------------------------ */
#grade-book {
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px #3333;
    box-sizing: border-box;
    max-width: var(--grade-book-max-width);
    text-shadow: 0 0 3px white;
}
.course-row,
.semester-row {
    background-color: #eff;
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 0.2rem;
}
.rows {
    box-shadow: 0 0 0.5rem #aaf;
    width: 90%;
    margin: auto;
}
/* -------------- 左部 -------------- */
.course-row .left,
.semester-row .left {
    width: 2.2rem;
    margin-right: 0.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course-row .left .up, .semester-row .left .up {font-size: 1.2rem;}
.course-row .left .down, .semester-row .left .down {font-size: 0.7rem;}

/* -------------- 中部 -------------- */
.course-row .middle,
.semester-row .middle {
    display: flex;
    flex-grow: 1;       /* 由中间的元素 ｢撑满剩余区域｣ ! */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.course-row .middle .up, .semester-row .middle .up {font-size: 1.2rem;}
.course-row .middle .down, .semester-row .middle .down {font-size: 0.7rem;}

/* -------------- 右部 -------------- */
.course-row .right,
.semester-row .right {
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    align-items: center;
    justify-content: center;
}
.course-row .right .up, .semester-row .right .up {font-size: 1.2rem;}
.course-row .right .down,
.semester-row .right .down {font-size: 0.7rem; white-space: nowrap}

/* -------------- 额外调整 -------------- */
.semester-chunk {
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: 3rem;
}
.course-row .right .up {        /* 可编辑的元素 */
    width: 2.5rem;
    text-align: center;
    border: 2px solid transparent;
}
.course-row .right .up:hover {
    cursor: text;
    border: 2px solid #777;
    border-radius: 3px;
    box-sizing: content-box;
}
.semester-row {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 0.4rem #000c;
}

/*.course-row .down {display: none;}*/
/*.semester-chunk {margin-bottom: 3rem;}*/
/*.course-row, .semester-row {padding: 0.1rem;}*/


/* ------------------------------ 总结 ------------------------------ */
#summary {
    margin: 1rem auto auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px #3333;
    box-sizing: border-box;
    max-width: var(--grade-book-max-width);
}

#summary-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0.5rem auto auto;
    text-align: center;
}
#summary-table td,
#summary-table th {
    border: 1px solid #ddd;
    padding: 0.3rem;
}
#summary-table tr:hover {
    opacity: 80%;
}
#summary-table th {
    background-color: #585;
    color: white;
}


/* ------------------------------ 添加课程弹窗 ------------------------------ */
.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    user-select: none;
}
#add-course {
    width: calc(var(--max-width) * 0.7);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #fff8;
}
#add-course-inputs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-columns: 0.5fr 2fr 3.2fr 0fr;
    align-items: center;
}
#add-course-inputs input {
    margin: 0.3rem;
}







