:root {
    --max-width: 750px;
}



/* ------------------------------ 顶栏 ------------------------------ */
#title-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    height: 3rem;
    white-space: nowrap;
    background-color: #eee;
}
#title-bar::before,
#title-bar::after {
    content: "";
    height: 1px;
    width: 50%;
    background-color: black;
    overflow: hidden;
    margin: 2rem;
}

/* ------------------------------ 底栏 ------------------------------ */
#bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    font-size: 0.8rem;
    height: 3rem;
    white-space: nowrap;

    color: #eee;
    background-color: #333;
}


/* ------------------------------ 设置 ------------------------------ */
#settings {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.3rem;
}
.settings-button {
    background-color: #777;
    color: #eee;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;

    display: inline-flex;
    align-items: center;
    user-select: none;
}
.settings-button:hover {
    cursor: pointer;
    opacity: 85%;
}

/* ------------------------------ 导入器 ------------------------------ */
#import-prompt {
    background-color: #ccc;
    padding: 0.5rem 3%;
    width: 90%;
    max-width: var(--max-width);
    margin: 0.5rem auto;    /* margin: auto 实现居中 */
    border-radius: 1rem;
}
#import-prompt ul {
    padding: 0 1rem;
    margin: 0;
}
#paste-here {
    background-color: #eee;
    width: 90%;
    height: 6rem;
    margin: 0.5rem auto;        /* margin: auto 实现居中 */
    border-radius: 0.5rem;
    border: 3px solid #ddd;
    padding: 0.5rem;
    overflow: scroll;
    color: #ccc;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
}
#paste-here:empty:before {      /* 实现 placeholder 的一种方式 */
    content: "粘贴到此处";
}










