/* ------------------------------ 顶栏 ------------------------------ */
#title-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    height: 3rem;
    white-space: nowrap;
    background-color: #eee;
}
#title-bar::before,
#title-bar::after {
    content: "";
    height: 1px;
    width: 50%;
    background-color: black;
    overflow: hidden;
    margin: 2rem;
}

/* ------------------------------ 底栏 ------------------------------ */
#bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    font-size: 0.8rem;
    height: 3rem;
    white-space: nowrap;

    color: #eee;
    background-color: #333;
}


/* ------------------------------ 设置 ------------------------------ */
#settings {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.settings-button {
    background-color: #777;
    color: #eee;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;

    display: inline-flex;
    align-items: center;
    user-select: none;
}
.settings-button:hover {
    cursor: pointer;
    opacity: 85%;
}



