
#title-bar {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: #eee;
    white-space: nowrap;
}
#title-bar::before,
#title-bar::after {
    content: "";
    height: 1px;
    width: 50%;
    background-color: black;
    overflow: hidden;
    margin: 2rem;
}





